<div class="scene-header">
    @if (!string.IsNullOrWhiteSpace(HeaderText))
    {
        <span class="scene-header-text">
            @HeaderText
        </span>
    }
</div>

@code {
    [Parameter] public string? HeaderText { get; set; }
}
